body {
  font-family: "Montserrat", sans-serif;
}
.bolder {
  font-weight: 700;
}
.custom-navbar {
  background-color: transparent !important;
}
.transparent-card {
  background-color: transparent;
  border: none; /* Remove border if needed */
  box-shadow: none; /* Remove box shadow if needed */
}
